# Introduction to Python

- Variable
- Data Type Primary
  - Number
    - Integer
    - Float
  - String
  - Boolean
- Data Type Array (Collections of Data)
  - List
  - Tuple
  - Dictionary
  - Set
- Operation

---

Nama :  Basyira Sabita  
Batch :  HCK-012

---

In [2]:
# Run this block code
print("HELLO")

# print("WORLD")
print("WORLD")

HELLO
WORLD

# Variable

Rules dari membuat nama variable:
- Dimulai dengan huruf
- Perhatikan plural / singular jika dalam bahasa inggris
- bisa camelCase, PascalCase, snake_case tidak kebab-case.


Buatlah 3 variable yaitu:
- variable name dan isi dengan namamu
- variable favoriteNumber isi dengan angka kesukaanmu
- variable isHungry dan isi True jika kamu lapar dann False jika kamu tidak lapar

In [22]:
# Code dibawah ini
name = "Bita"
favoriteNumber = 9
isHungry = False

# Data Type Primary

## Data Type Number

Terdapat Integer dan Float

### Latihan Integer

In [25]:
# Latihan kode disini (Ikuti dalam kelas)
print(favoriteNumber)
print(type(favoriteNumber))
print(favoriteNumber == 100) # == equal, > >= < <=, != not equal)

favoriteNumber = 50 # Reassignment
print(favoriteNumber)

favoriteNumber += 5
favoriteNumber = favoriteNumber + 5
print(favoriteNumber)

print("======")

# favoriteNumber dikurangi 10%
favoriteNumber = favoriteNumber - (favoriteNumber/10)
print(favoriteNumber)

9
<class 'int'>
False
50
60
======
54.0

### Latihan Float

In [24]:
print(favoriteNumber)
print(type(favoriteNumber))
print(int(favoriteNumber))

tigaSetengah = 1.5
print(int(tigaSetengah))
print(float(tigaSetengah))

tigaSetengah += 0.5
print(tigaSetengah)

decimalNumber = 3.14
print(round(decimalNumber,1))

9
<class 'int'>
9
1
1.5
2.0
3.1

## Data Type String

Peruntukannya untuk text dapat menggunakan kutip 1 atau 2 ' "

In [47]:
# Latihan kode disini (Ikuti dalam kelas)

name = "Bita"

print(name)
print(type(name))
print(len(name))

# Coba tambahkan angka ke string
name += str(4)
name += "Basyira  "
print(name)

# len dengan ada spasi
print(len(name))

# Coba akses character pertama dan kedua
print(name[0])
print(name[1])

Bita
<class 'str'>
4
Bita4Basyira
14
B
i

In [50]:
# Ada 2 nama disimpan pada variable boy dan girl hitung berapa character kedua variable

boy = "adam" # 4
girl = "hawa" # 4

# Cara 1
print(len(boy) + len(girl))

# Cara 2
gabungan = boy + girl
print(len(gabungan))

# print(len(boy) + 5)

8
8

String itu case sensitive yaa

In [54]:
print(1 == "1")
print(1)
print("1")

print("bita" == "BITA")

print('=======')
print(name)
print(name.upper())
print(name.lower())

name = "bita basyira"
print(name.capitalize())

False
1
1
False
=======
Bita4Basyira
BITA4BASYIRA
bita4basyira
Bita basyira

## Data Type Boolean

Yaitu True dan False

In [56]:
# Latihan kode disini (Ikuti dalam kelas)
print(isHungry)
# print(1 == True) # True karena ngikutin binary (1 -> True)
# print(0 == False) # True karena ngikutin binary (0 -> False)
print(type(isHungry))
print(str(isHungry) + ' holla')

False
<class 'bool'>
False holla

In [64]:
print(name, isHungry, favoriteNumber)
print(f"Namaku {name}, angka favoritku adalah {int(favoriteNumber)}. Status lapar: {isHungry}.")
print("Namaku " + name + ", angka favoritku adalah " + str(favoriteNumber) + ". Status lapar: " + str(isHungry) + ".")

bita basyira False 54.0
Namaku bita basyira, angka favoritku adalah 54. Status lapar: False.
Namaku bita basyira, angka favoritku adalah 54.0. Status lapar: False.

# Data Type Array / Data Type For Collections of Data

Kalo w3school menyebutkannya sebagai [Python Collections (Arrays)](https://www.w3schools.com/python/python_lists.asp#:~:text=Python%20Collections%20(Arrays)).

----- note disini latihan menggunakaan markdown text yaa..

## List [ ]

In [88]:
names = ["Bita", "Nicku", "Ogi", "Riki", "Naufal", "Riki", "Riki"]
print(names)
print(type(names))

# indexing list ke-0
print(names[0])

# Jumlah value/data/element dalam list
print(len(names))

# Hapus Riki dari names
names.remove("Riki")
names.append("Ayu")
names.append('Bambang')
names.append("Samuel")
print(names)

# Mengakses index terakhir
# Cara 1
n = len(names) - 1
print(names[n])

# Cara 2
print(names[-1])

namesKedua = names.copy()
namesKedua[0] = "Sapta"
print(namesKedua)
print(names)

['Bita', 'Nicku', 'Ogi', 'Riki', 'Naufal', 'Riki', 'Riki']
<class 'list'>
Bita
7
['Bita', 'Nicku', 'Ogi', 'Naufal', 'Riki', 'Riki', 'Ayu', 'Bambang', 'Samuel']
Samuel
Samuel
['Sapta', 'Nicku', 'Ogi', 'Naufal', 'Riki', 'Riki', 'Ayu', 'Bambang', 'Samuel']
['Bita', 'Nicku', 'Ogi', 'Naufal', 'Riki', 'Riki', 'Ayu', 'Bambang', 'Samuel']

In [85]:
numbers = [2000, 1000, 5000, 100, 200]

# Past references
kumpulanAngka = numbers.copy()
print(numbers)

# By default ascending
kumpulanAngka.sort()
print(kumpulanAngka)

# Descending
kumpulanAngka.sort(reverse=True)
print(kumpulanAngka)

[2000, 1000, 5000, 100, 200]
[100, 200, 1000, 2000, 5000]
[5000, 2000, 1000, 200, 100]

In [86]:
print(numbers)

[2000, 1000, 5000, 100, 200]

### Pass References

In [89]:
listMakanan = ["Sushi", "Coklat", "Kopi"]
listMakananFavorite = listMakanan
listMakananFavorite.append("Yakult")
print(listMakananFavorite)
print(listMakanan)

['Sushi', 'Coklat', 'Kopi', 'Yakult']
['Sushi', 'Coklat', 'Kopi', 'Yakult']

### Cara Handle Pass References

In [90]:
listMakananFavorite = listMakanan.copy()
listMakananFavorite.append("Susu")
print(listMakanan)
print(listMakananFavorite)

['Sushi', 'Coklat', 'Kopi', 'Yakult']
['Sushi', 'Coklat', 'Kopi', 'Yakult', 'Susu']

### Slicing

In [93]:
print(listMakananFavorite[1:3]) # [mulai dari: sampai 3 (sebenarnya mengakses sebelum index 3)]
print(listMakananFavorite[:3])

['Coklat', 'Kopi']
['Sushi', 'Coklat', 'Kopi']

## Tuple ( )

Bedanya sama list adalah tuple gabisa dimodifikasi elementnya

In [112]:
listInstructor = ('Ayu', 'Yuda', 'Riki', 'Sapta', 'Ayu')
print(listInstructor)
print(type(listInstructor))
print(len(listInstructor))
print(listInstructor[0])

# Tidak bisa dimodifikasi
# listInstructor[0] = "Hana"
# listInstructor.append("Hana")

('Ayu', 'Yuda', 'Riki', 'Sapta', 'Ayu')
<class 'tuple'>
5
Ayu

# Set { }

Tidak menerima duplikat

In [113]:
listInstructor = set(listInstructor)
print(listInstructor)
print(len(listInstructor))

{'Ayu', 'Riki', 'Sapta', 'Yuda'}
4

# Dictionary { keyname : value }

In [111]:
persianCat = {
    'name': 'Luwy',
    'age': 4,
    'weight': 5.5,
    'height': 50
}

print(persianCat)
print(len(persianCat))

# Akses value dengan key bukan dengan index
print(persianCat['name'])

# Menambahkan keyname dan value baru
persianCat['isVaksin'] = True
print(persianCat)

# Mengubah value (jika keyname tsb sudah ada)
persianCat['name'] = 'Prince'
print(persianCat)

{'name': 'Luwy', 'age': 4, 'weight': 5.5, 'height': 50}
4
Luwy
{'name': 'Luwy', 'age': 4, 'weight': 5.5, 'height': 50, 'isVaksin': True}
{'name': 'Prince', 'age': 4, 'weight': 5.5, 'height': 50, 'isVaksin': True}

# Exercise

In [124]:
listAlphabet = [
    [0, 'Ayu', 'Bita', 'Cinta'],
    [1, 'Dian','Ersa','Fanta'],
    [2, 'G', 'H', 'I']
]

print(len(listAlphabet[1][-1]))

listHck12 = {
    "students" : ['Bita', 'Revo', 'Nicku', 'Samuel', 'Panji'],
    "buddy" : ['Ayu', "Ayu", 'Ayu', 'Sapta', 'Sapta'],
    'scores': [100, 100, 90, 90, 100, 50]
}

print(listHck12['students'][1],listHck12['buddy'][1])
print(listHck12['scores'])
print(max(listHck12['scores']))
print(min(listHck12['scores']))

5
Revo Ayu
[100, 100, 90, 90, 100, 50]
100
50