# NGC5 - DDL & DML
Nama: Basyira Sabita  
Batch: HCK-12

### Membuat tabel Customers dan Orders

```sql
CREATE TABLE IF NOT EXISTS Customers (
	customer_id SERIAL PRIMARY KEY,
	customer_name VARCHAR(50) NOT NULL,
	city VARCHAR(50) NOT NULL
);

CREATE TABLE IF NOT EXISTS Orders (
	order_id SERIAL PRIMARY KEY,
	customer_id INT,
	order_date DATE NOT NULL,
	total_amount DECIMAL NOT NULL,
	FOREIGN KEY (customer_id)
		REFERENCES Customers (customer_id)
);
```

### Memasukkan data ke tabel Customers dan Orders

```sql
INSERT INTO Customers(customer_name, city)
VALUES 
	('John Doe', 'New York'),
	('Jane Smith', 'Los Angeles'),
	('David Johnson', 'Chicago');
	
INSERT INTO Orders(customer_id, order_date, total_amount)
VALUES
	(1, '2022-01-10', 100.00),
	(1, '2022-02-15', 150.00),
	(2, '2022-03-20', 200.00),
	(3, '2022-04-25', 50.00);
```

### Menampilkan data customer name dan jumlah pesanannya

```sql
SELECT cust.customer_name, count(*) as total_orders
FROM customers AS cust 
JOIN orders as ord
ON cust.customer_id = ord.customer_id
GROUP BY cust.customer_id
ORDER BY total_orders DESC;
```